.exhibit {
  width: 40%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 3%;
  padding: 4px;
  border-radius: 10px;
}

#seperator {
  border-top: solid;
  border-width: 6px;
  margin-top: 16px;
}

#wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}

@font-face {
  font-family: 'dirtstandardregular';
  src: url('webfontkit/dirtstandard-regular_2-webfont.woff2') format('woff2'),
    url('webvfontkit/dirtstandard-regular_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.folder {
  width: 60px;
  height: auto;
  padding: 4px;
  margin: 6px;

  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 12px;
  border-style: solid;
  border-width: 4px;
  border-color: rgba(0, 0, 0, 0);

  transition: 0.2s ease-in-out;
}

.folder * {
  margin-top: 0px;
  margin-left: -5px;
  font-size: 24px;
}

.folder:hover {
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.05);
  transform: scale(1.1) rotate(10deg) skewY(10deg);
}

.folder:focus {
  border-width: 7px;
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.1) rotate(10deg) skewY(10deg);
}

#title {
  font-size: 32px;
  margin: 0px;
}

#left {
  float: left;
  width: 70%;
}

#right {
  float: right;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  word-wrap: break-word;
  z-index: 20000;
}

.marquee {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%);
  mask-image: linear-gradient(to right, transparent 90%, black 10%);
  /* life is pain. i hate mysel */
}

#splash {
  white-space: nowrap;
  overflow: hidden;
}

#header {
  box-shadow: 0px 3px 14px 1px black;
  margin-bottom: 10px;
  z-index: -1;
}

#also {
  color: rgba(0, 0, 0, 0.4);
  font-size: 11px;
  display: inline;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  background-color: #eb3455;

  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAZaklEQVR4nO2bV3CUV9rnqdr12Ejq3JI6d6MESCaZwYhowAYMiBwsUCIo55wzApRAKKCcs4RQK2F75tv9xjNbuxdb8+2CciTYLs/NXO1e7c3324u3uwGPPTO25fHU1j5V/zqnX6nU7/93nuec0+dtrVnz/+PNaOzyfvH5hA//8pmMiVEtEyM6xh4580vf1z8ktqQ3cqigg8/GFXw2LufTMRmPRxU8HlXw+biKcbOa0UeO/2/C0MZW4ZFcx6b0Rn6d3cK23Fb6H66zARAkF2BMODJhVjM6rPz3X/q+Vy20MZVsSKnHM7WBTemNbM1oYntWCzuyW9iR2442vYW42uA3QDwe0/DZuDPjZmdGH8mf/9IeflJoYypxS6rFI7mOjSn1eKU2sCWjie1ZzezIbmVnbhveue3sKehAm9FK7+DGN7JjYkTL41EVY8NOmB8pbv7Sfn5wqKMqMMRV45L4ANfEWtYn19myYVtmMzuyW9iV28buvHZ257ezK7+Dg0Xd6DJa0We1Mjjk8QqGWcuEWcvYsCNms3L7L+3t7wrFjTtoou+ji63CEFeNKaEG16Ra1qfU45nWwOaMJrZnt7Izp5U9+R3sv9nFB0Xd7C/qYVdRLx8V9/Pf/vgUXUYLy8tLLC8v829/NDMxso4vv3zJ2CMFg4Ni+S/t83tDcSa2XRV5D3VUBZro+2hiKtHFVmFKfIBLUh0eqQ14pjexOauV7bnt7C7sYl9RD4eK+zlcOsiXX37Jn//8Z+bm5lhaWmJlZZnl5WVWVlZ48eIFEyM6xs16xoZ1jA7JaWhY89Yv7fkvwim8HHVUBWoLAHVMJdrYKrTxNegTajGlNOCW0czGrDY253fx66Je9pQMsrS0yOLiInqDHq1Wi1an48NDh1haWmJpaYkvv/ySz3//mMdj1vlCz9iwoNGH8n+eZVUZXGIDoI6uRBNbhTauBm38A7SJteiTG9CnNmLIaMUlt5P1Rf0sLi6ytLSEUqlAp9Ph7e3Nvn37MJlMqNVqZmZmmJubY35+nmfPnqHLbKW66yATI3ImzErGrSAe6Rl5KP1lYcj8clF9C4DGBqAOfUoj+rRmDFntGPN7bOkuVzoik8nQaDRs27aN3bt3YzKZUCgUaLVa5ufnmZubY2VlhZnZWbxLh9hXPMj6nHoejyiYGJEzbtYxbjYw+kiAYX4o+wVgbN/+lnPkPQFATCVqS/prEh6gS6pHl9KIPqMFQ04npoI+ZmZmWFhYQCwWIxaLkcnlqFQqNBoNSqUSiUSKVCZjYWGBxUWhTGZnZwlo/JwL1WMcLnvIjqIeNuV1cLS4UMiKETljwwbGhgUYI0N6zINO/zgYjqFlQhbEVKKOrUYTX4MmoRZtUr0w+pltGPO6Md0aZH5+npmZGcRiMQ4ODohEIhsMkViMg0iEo0rIgNnZWZ4/f8709DTBnb8jsuVzIhsmCK4xc7F8gENF3WzL68Qju53UukDGzXLGza/BGDJgfqjHPKj5eWHIrxahirqPOrYKdWwVmvgHaJPq0CY3oEtvxpAtpP/Nrt+wsLDAwsI8MrkCBwcH7OzssLO3F1o7O+wdxGzavJ1nz57x8uVLpqemWVxc4mzH7zlZ+ymfVI8SXjtKQv0ISfVmwqsecqGkl0OFnWzNacM1sxWv7DrMw06MD2ss5WFgZMjA8KCgVQcg+zj0/6iiLQDiatDEP0CTVIc2pRFdupD+xsI+ZmeEEZ2dncVj0w7Wr9+AXCGAWLvWDru19qgVWgL8ApmdnWV+fp6V5RXm5ub4H09n2H1/gvdKhthR1MeHt3q4XN5PZNUg6fWPyGwYJrZ6EL+SHg4XdvBediuuGc14ZTUxNiyzlIeRkSED5ocWGAOrCMMx/C6qmErUcdVEVfSgSapHm9qEPrMNfU4nxpv9mErMLCwuMjU1xfT0ND5nLnLgwEFMJlekMic0WhcuXvTlyZMnLCwsMD09bZkD5vi4+V/ZVznB1jsP8czvZn1WG+vTm9mS0cSB3BbOF7UTdb+P/KZhCpvNpNUNEVTWw0cF7WzNasE1o5nR4Q2MDcsZe2Rk9JER80MD5odGhgcNPBow/jQYiuASVNYMSKy1AdBltmHI7cJUNIBr+SgrKyssLCwwNzfH119/TVtbOx/7nOHIMR+++OILnjx5wtOnT1lZWeGrL7/i2bNn/Nf//j850fyf+aBynK23B/GyAPBIa8I9pR63xAe4J9TgmfSA91NrOV3QQnRFLwVNw5S0j5JV/4irZT0cscJIb+bxiCtjw0pLVhgxPzRaYPxIELLLOahiq1HHP0CdWIcmuQFtWgu6zDb0uV0YbwoApqaF1F5cXGJxcZHp6Wmmp6eZnJxkbnaOufl5ZmfnePnyJc+ePeNPf/oTH1Z9yrGGf2H3vVE2F/XTuKuEiXXpjBiTaPDKxC3xAW7x1bjFVeEWW4lbbCUesZVsS6rhaHYD14o7yGsYoqxjlIKmYcLu9XK8sJ3tWS24pTcxaisPC4xBlx8OwfG9jy45x1ShTniAOqkeTUoj2oxWdFntGPK6MRYNoElvQ5/Xy9LyMktLy8zOzdmWxdnZWSYnJ5mdnWV6eoa5OWG1mJmZYXp6msN1v2FHmZlNN/v41CWTcVMqZkMiw4Z43BJqcI2rwjW2UlDMfdxiKnCLrsAt+h7u0RV4xVWyO6UG35stpNf0U9o+yq1WM1EVfZx4DUZ733uMPjJhNnsM/HAIkRW20dekNqHNaGX0t79HbwHgHF+HNqMdr5IRlleesbi0zNLSkmVOmLHtAL/55k9MTk7y9OlTiga+wKf2Mw5Wf8r24iHORDYzYUpn1JDEsCGBIUMcD/UxuMZV4RJzH1erou/hGn1PgBB1D7eou7hH3cUt8i4eUXfZnlDJ8ex6Iss7KWoa4naLmbjKfk7fbOf9rGZ6+9x/eBYoQkqE0U9tQpPegi67A11uF4aCPoxFAzjFPUCT1sq6/D42lY5wqPa3zC8us7AglMLc3DxfffUVT58+ZWpmjlPN/8rZmsecbfwtBytG2VLUx4acdsaMKZgNiTzSx/FQH8ugPpqwwwW4xFTiEl0hKEoA4BJ1F1erIstxixQguEXdxS2yHPfIcrxiKtiTXMPlm82k1/SzN70ep9BSUu/Ujv8gALILKahTGtGkt6DN7kCX142+sA9D0QCmO0M4J9ajSWtBn9WBa0Efm4sfsfPeGPsrH3Ox8T/x6Rd/pPjRHzhW91tO133O8YpRfEoG+KhyjPdu9eOZ24lHRgsj+kQe6eIZ0sUyqItmQBdFnzYCU3QF66LusS7yLusi7+JikWD+Li4R5bhGWkGU4xpRjluE0HeLKMc1ogynoELEJ2PZcvjCj5sMnVMa0eZ00j72Oww3+zHeGcJUMsxH1eOoUlvQZrShy2zHkNWBa243Gwp62Xyzn/dvDbD79gB77wyy5/Yg+27180F+JzszmthW1IdXXhcema24pjbiklTHkDaWQU00A9oo+jQRAoCoe5gi71pUzrrIcgFGRDnrIspxsanMJleLXMLLcAosQHw8Ere9p378kuiU3ICusA/DnSFc7o3z4sVL3Cs/xb36M6anZ9DldGHM6sCY2Y4xvRVTeiuuaS14pDWzIa2ZDalNbExpxCuxFs/YSlxDStiQ24F7RgsuqY24JNdhSnjAoDqaAU0UfeoI+jTh9GrCMUXdw2gFEFH+SuFlmMLLWPeaXCIsbfib5vU7j/20/UDd4KcsLwsHG3Nzc7x48YKvv/6alWfPeP7iBe7FZjYU9uOa1YEhtQl9Uj26+AfoY6sxRN3HEFmBIawcQ3AxuqBC3LPacUtvxjW1kXXJ9RjjazDGVTOgjqJfHUGvOpxedRg96jAMEeUYIsoxRpRjCC/DaFOpoLBSTOGC1oWXYQorxRRWimNAPpITUThvP/LTzC8uLrKwsMDKygqLS0ssLS+xsrzC8vIyz5495/mLF3zzzTfsvT/BhrxuTGnN6OJr0UTdRx1WjvpGMaprt1AFFOB8JQeX9BbWpTZhSq7HlFhrMV+FIaZSMK8Ko0cVRrcqlG51qAAgvExQWKlNxrBSDGElGC0yhZXa+lbziq0f/vRt8ddff838/DwLCwu2LLBqdnaWpaUl2+utd4ZwzWhDH/8ATfg9VNfv4BRQgOPlHBwvZaAJK8OY0oAxqQ5DwgOM8TUY4qoxxFSij66gTxVBj3MYPapQulWhdKlC0IeUYAgvQx9Wit5iXh9agiHMotASDKHFllYwLz4RhXTLwZ9mfnBw8D/MzMwwNTXFwoJwkGE9+FhcXGR+fp6lxSVmZ2cFEMvLTM/M4pnbhSmhFnVoGc5Xi1BezkZ5MR1DSiP6xDr0CQ/Qx9egj6tGH1OJPvo+uqgKdJF32RFQTLdzKN3OIXQ6BdPpHMyRMwXow0rRhZagCy1BH1qCPqRY0GvGDaElOPrnIfGJRuy1/6ePvPXwwmpwbm6O58+f8+zZM6xlYT3hefnyJYtLSzx//oI9pcO4JtSiDSnFOaAA5cV0VCElaGMq0Sc8QBdXjS62Cm30fXQW89qIu+gi7rLhWgldTiF0OQULAJxukL4pQTAfUvw9uoMu5A6OAXlIfGIQb1oF82vWrFkzM2s9w5uzjb41I54+fcrS0pIAwfIhyPo54ErdZ3gk1KILLsbpSi7K86nokurQJTwQDlZjKtFG30cbVYE28h7aiLtow8vRhJXR6hxqM9/hdIMOp+tcPpiJNqQYrcWwrQ2+gzb4DvqQYpR+uUh8YhC9u0rmZ2fnI6zbWWsGzMzMMDk5SVpamu2a9br1RGhhYZH4nt+xMaEW3bVbOPlmCStCQi26uGqbeU3kPTQRd9GEl6MJL0MTVoYmrJQO5XU6HG/Q7njdomsWo8VoLIY1N26juXEbrUWO/nmIfaIRvfvB6h6KTE5O2j64zMzOsGvXLjw9PfH29ubIkaP4Xr7C5OQk8/PzzM/PMzU1xdTUNFPTs3jFV2OIuIsxtRF9Yi3auGo0MZVooireNB9Whjq0FHVoKZ3KG3Q43qDD8Trtymu0WaS2GNa8Zt4qpV8u4hPROHiusvk1a9asmZqaYnFxkbm5WRwdHVEolbi7u+Pv78+uXbvYuNGTHd77bOXx5MlTpqamOVD5mC1F/bhktGBMbkAXX4M2pso28urwctThZajDBOPqkBLcrt6mXXGddsU12pWCWhVBqIPvoAm+g/rGbRsI9fVbqK/femX+3Q/p7fgZjsQWFxf/1+TkJCqVCpFIhEQiwdnZGRcXF4xGI46OTiiUas5d8ufJkydMT08zNTPP7rsjeOZ1sS61CX1irTDy0fdRR9xFHV6OKsxqvgRVSAmq4GLaFddok1+lTSGo1SL19duoLIZfl9IvF7FPDKIthxnsNvKwx0Bf5088/fmumJycRCqV4uDggIODA2KxGKlUilQqRSyWIBUr0K3fwdzcPFOTU3xYOcH224O4Z7ZiSKxDG1slPGCJvIcqrAxVaCmq0FKcQ4pRhZTgfOM2bXLBfKv8Ki3yIFrlQbQqglBdv4XqWhHq67eEjdS1IlTXilD65yE5GYf9jvO0NbjQ224UIPQa6O/6GSBIpVLsLSe89vb2r2Rnj9xehtawmempaZ5MznLs/igbczpZl9aEPr7GNvI28yElOIcU4xx8B9WNYmHU5VdplQfRIg+kRR5IsywQQ0AhzhbDzleLbOYd/fOQnIrHfvcVyou30FDtTkejC73tJh72mBjqFWCsKoDh4WHs7OxYu3Yt77zzDmvXrhVOe+3sUa9V8oc//BcOlJp5P70Jr9xOXFIb0cc/QPt62oeW4hxcjN++dFplQa8kD6JFFmhTsyyQZkUQzteKBF21tjeFpe5kLG9t+QRFaCnH06opue1FfZUb7Y2u9HW48LDXxFCfkcEe0+pCkEql2NnZ8c47awUQdvasFTuyea2G/YU9bEuo4fqeZIbVCQyo4+lXRtAjD6FLHkyH7Drtsmu0Sa++aV4WZDEdQLMskCZpAM3yQJyu3sT5W1JeyUHiE8OvPI8jCyxEdjEN6fkUoss7GDd7Ule1nrZGd/o6XBnqW8ejfhMPe1cZglKpRCQSY+8gYq2DHKlmI+8m1eIWWkK1oy9DyhgG5BH0ysPokgXTaTUuu0qrNIhWaRAtUstISwNeSRZAkyyABlkATkGFfyHF5WzEPjG8vfEIjoEFKP1ykF1KR3o+BUf/fMLKOhg3b6auyov2pg30dbox1OeCeXAdQ32rDMEG42QMykvpKC+mIz8dT78sgl5pKN3SYDqlN+iQWkbcaloqmG6S+NuMN0kDaJL60yQLYNexTJyCCnEMLBCMW1rF5WzEx6N4e8NHOAUW4hxUiNI/zwZAej4Z9/ASfItaGDdvp756C+1NnvR3ejDUL0B42Ltu9SFo3z+rEB8MQnzoGuKDQXRKbtAhuUa75CqtkiBaJYG0SCzGJYJxm6T+NEr8aJT4kegRgWNQoaDAApucggqR+2YiPh7J2xsO4xRQIEAJyEfpl4vsUgbS88lIzycj989jXUQZYaUdTIzsort9O+3Nmxjo3sCjfleGf8xx+N8TDjtO47DzHMrrt2gRBwqSBNIsDqBZbDEr9qdR7EeTRGgrnK+hDPxLw46BBTgG5OMYkI9TYIFg/lgEb288+pr5Ahz981D65SL/JBPpuSSk55ORXUpHEVjAuvBS4iq6mBg9wGfj3nQ0b2GgewPDA+4M9f0MEERbj2K/9WOUQTdRBhWiCLqJ1jcf7eV8lIGFFhWgDCzAMagQZUAByoB8lAH5OL7Rz7f1lQFCeos/juBtz2OCccvIOwXk4+ifh+JKDnJfC4BzycgupiHzzUIRUIAprITkyh7GR47xm8d76Wx5j4FuTx71u64+AKetH2HndRBFQD6KgAKUAQWWvmBG4Z/3mrF8lP5533lN6Z9nG33ZxTTEH4fzqw1HXzNfgGNAHo7+ea8AWDPgbJKwIlxIQe6biSIgH1NYCalVPfQNXufzif10tGxnoGc9fV0/AwS7DftQ+OeisJj7a7ICUPjl2oy/LtnFNERHw/jVpjM4WyZCoSTybQCUfrkoLmcLAM4KAKQXUi0TYgqyTzJQ+OdjDLVCuMHnEx/Q1baVvi631Qdgv34PMt8s5H65yK/kIPfLEdorOSj8ct/Ut64pLYaUfrnCyB8J5a0tvngnVuEaWozhxi2014pQXy3EOchS/1dyUFzOQu6bieRsIpKziUjPpyA5K5SD9FyyBUIehpA7JFR00dkfz+PRD+hs9fhxzwf/Woi9DiA9nyIYfl0WIDbT3+6/9nPp+RTEh4N5y2U/zlH3cXot3R39clH65ViMZyP3zULh+wqA9GwikrNJQv9cktA/l4T0YjqyKznogu8QXtLGmPkSY8Pvrn4ZqDcf+FRyJgH55SwUV7KRX85CfjlbqNPL2W9IMP4mKOn5ZEQfXcfO9X3WrFmzRmY1dSbB0ibajApKQnpG+LntdywAbBlxVgAhvZiG/EoOmuu3uJTfwPDgDtqbf8Szwb8V4mMRyH0zkflm2gDIfbMEfQvAq3420nNJiA5dxd5t5xs35bJt//XXIUjPJLxm+pV5yZlEpBZJLLJOjDYQ51OQXc7GeOMWe5KrGOpzZ7DHbXW/2S76wF8oA4tpmW+mxXzWX4BQWFrp2cTvNP/G33X3xs5tJ5LT8X9DCd8CkSBkgxXQ+WTkvlm4h5XQ0+7Gw75VLgO55x4kp+ORfZKJ3FeQ7JNMy+tXEKyvJWcSEB0M+qvmreHgvhOHnWcRH49EcirOJul3gJDaysZSHlYoZ5OQXkjDyT8PU8ht+rtXGYDJdOAdyYkoZJcyLMYzvgUhE7nV/Ol4RAcCsXf/2+atIfLwxuH9M4iPRSA+GYvkZCySU7E2GOJTsbZMkJyOt5hPeFUqZxOFUriUju7aTXraf4blUPzhdWEdvpRhAZGB3ALD2pecjsPhQMAPMm8NB3dv7N87gfjjMMQ+0Yh9YpCcjBFgnLTA+L4SOZsorAwXUnHyy6WlcSNeEb7ZqwpAsuOkkIYX04Ul6FIGskvpNiCSU3E4fOD/d6X994XI3Ru7rccQHw1FfCIKiU+08CDkhAXIqTjE1vI4JZSELSPOJiKxbJvVgQUYzyevbhao3t2L+ESUYPpiusW8IPHJWET7/XBw9/7Jbypy98Z+y1FER0IQn4iygRD7RCO2ZsRrc4UtC84IACTnknHyy6W+5udYDo+EILuQ+qZ5nxgc9l3G4Uek/feFg/tO7N/9ENHhYMTHIxEfj7LAiH5VFq9PmK/vGc4lI7+Uwa3Sn/jg9LtCtNcX8el4pBfTkF1MQ+ITjWiVzVvDwd0be68DAoRjEUgs2SC2lMW35wVrOUjPJSG9kILqStbP8NVar31IfKKRXUhDfCIKh72+q5L23xciD2/sNu7HYd8VAcTRUEQfhwtZYYVxMlZYOWwTYhLSc0koL6Wv/n3pNu+dEh0MRHQ4GIfdl3Dw+PnMv3rPff/bwd0bO3dv7Dd9iMOvT+Gw3w/R4WBER0OFpfOEAMI6IUrOJiE7n8ye66dEq35DDu8ewn7b8Z8l7f9aqDbv/zfFxj3Yu+/Ezt0bO68D2G33wcH7HKIDAYgOB9sg2L97CMmJaFRHY6P+kff4DwvT1gMmR889iD28sbdmx+Yj2P/6JKK9vrxj3IbkZCzGj/yjf+l7/YeFbL33v4s8vLF338l/lKpx2Lj3n+cftP5Z4v8C2LbfUUzyEbkAAAAASUVORK5CYII='), auto;
}

.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.marquee p {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  margin: 0;
  text-align: center;
  transform: translateX(100vw);
  animation: cssmarquee linear infinite;

  animation-duration: 15s;
}

@keyframes cssmarquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}
